.background{
    background-color: white;
}

.switch {
  align-self: flex-end;
  font-size: 20;
  font-weight: 400;
  padding: 8px 16px;
  background-color: #ecf4ff;
  border-radius: 100px;
}

.dark {
    background-color: #282828;
  }
  
.dark .background{
    background: rgb(34, 34, 34);

  }
  
.dark .card-body {
    background: #282828;
    color: azure;
  }
