
  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Luckiest+Guy&family=Nunito:ital,wght@0,200;0,400;1,700&family=Roboto:wght@300;400&display=swap');

body {
    color: rgb(71, 71, 207);
    background-color: rgb(188, 184, 184);
    font-family: 'Belanosima', 'Luckiest Guy', cursive, 'Nunito', 'Roboto', 'sans-serif';

}

table {
    background: rgba(255, 255, 255, .25);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px unset rgba(255, 255, 255, 0.74);
}

td {
    color: rgb(32, 31, 31);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 2px 15 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: .75px unset rgba(255, 255, 255, 0.74);
}

.result {
    color: rgb(56, 56, 56);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px unset rgba(255, 255, 255, 0.74);
}

/* vidro-texto */
.glass {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 10px;
    width: 600px;
    align-self: center;
  }

  .container-vidro {
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: auto;
    width: 70%;
  }