  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,200;0,400;1,700&family=Roboto:wght@300;400&display=swap');

body {
    color: rgb(71, 71, 207);
    background-color: rgb(188, 184, 184);
    /* font-family: 'Luckiest Guy', cursive, 'Nunito', 'Roboto', sans-serif; */
    font-family: 'Nunito', 'Roboto', sans-serif;
}

table {
    border-radius: 20px;
    /* border-collapse: collapse; */
}
        
table, th, td {
    border: .75px solid black;
    padding: 5px;
}

.result {
    color: azure;
}