  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
*{
    font-family: 'Nunito Sans', 'Roboto', 'sans-serif';
}
body {
    color: rgb(71, 71, 207);
    background-color: rgb(188, 184, 184);

}

table {
    border-radius: 20px;
    /* border-collapse: collapse; */
}
        
table, th, td {
    border: .75px solid black;
    padding: 5px;
}

.result {
    color: azure;
}